@{
    ViewBag.Title = "Employees";
}
<!-- hidden link for search -->
@Html.ActionLink("_SearchEmployees ", "SearchEmployees", "Tables", null, new { @class = "modal-link hidden", @id="searchBtn"})
@Html.ActionLink("_AddEmployee ", "AddEmployee", "Tables", null, new { @class = "modal-link hidden", @id = "btnAddEmployee"})
@Html.ActionLink("_AddEmployee ", "AddEmployee", "Tables", null, new { @class = "modal-link hidden", @id = "btnAddEmployee" })
@Html.ActionLink("_EditEmployee ", "EditEmployee", "Tables", new { id = "10002" }, new { @class = "modal-link hidden", @id = "btnEditEmployee" })

<a href="" id="testa"></a>
<div id="modal-container" class="modal fade modal-container-small-search"
     tabindex="-1" role="dialog">
    <div class="modal-content modal-content-small-search" id="modal-content" >
    </div>
</div>

<!-- Table and controls -->
<div id="tableControls">
    <div id="tableButtons"></div>
</div>
<div id="divTable">
    <table class="table table-bordered table-striped table-responsive table-hover" id="tblEmployee">
        <thead>
            <tr>
                <th>Employee Id </th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Birth Date</th>
                <th>Hire Date</th>
                <th>Edit</th>
            </tr>
        </thead>
    </table>
</div>


<script type="text/javascript">
    document.getElementById("tableHyperlink").style = "color: white;";
    document.getElementById("employeesHyperLink").style = "color: white;";
</script>
<!-- Datatable -->
<script type="text/javascript">
    var table;
    var editingRow;
    var theId;
    $(document).ready(function () {
        $('#tblEmployee').dataTable().fnDestroy();
        table = $("#tblEmployee").DataTable({
            dom: 'Blfrtip',
            "iDisplayLength": 20, //set to 20 results per page by default
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]], //results per page values
            "columns": [
                { "data": "EmpNo" },
                { "data": "FirstName" },
                { "data": "LastName" },
                { "data": "Gender" },
                {
                    mRender: function (nTd, sData, oData, iRow, iCol) {
                        var date = new Date(parseInt(oData.BirthDate.substr(6)));
                        return date.getDay() + "/" + date.getMonth() + "/" + date.getFullYear();
                    }

                },
                {
                    mRender: function (nTd, sData, oData, iRow, iCol) {
                        var date = new Date(parseInt(oData.HireDate.substr(6)));
                        return date.getDay() + "/" + date.getMonth() + "/" + date.getFullYear();
                    }

                },
                {
                    mRender: function (o) {
                        return '<a><i class="fa fa-edit" style="color:red" ></i></a> <a><i class="fa fa-times" style="color:red" ></i></a>';
                    }
                }
            ],
            buttons: [],
            "oLanguage": { "sSearch": "", "sLengthMenu": "_MENU_" },
            paging: true
        });

        var buttons = new $.fn.dataTable.Buttons(table, {
            buttons: [
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'colvis', {
                    text: 'Search Database',
                    action: function (e, dt, node, config) {
                        document.getElementById("searchBtn").click();
                    },
                    className: 'btn btn-primary'
                },
                {
                    text: 'Add Record',
                    action: function (e, dt, node, config) {
                        document.getElementById("btnAddEmployee").click();
                    },
                    className: 'btn btn-success'
                }
            ]
        }).container().appendTo($('#tableButtons'));

        $('.dataTables_filter input').attr('placeholder', 'Search Table');
        $('#tableButtons').append($('.dataTables_filter'));


        $('#tblEmployee tbody').on('click', '.fa-edit', function (e) {

            editingRow = table.row($(this).parents('tr'))
            //get selected row data
            var data = table.row($(this).parents('tr')).data();
            var theId = data.EmpNo;
            var url = '@Url.Action("EditEmployee", "Tables", new { id = "idhere" })';
            url = url.replace("idhere", theId);
            $('#modal-container').modal('toggle');
            $('#modal-content').load(url);

            //var keyWord = $('#Keyword').val();
            //$('#searchResults').load(url, { searchText: keyWord });



        });

        $('#tblEmployee tbody').on('click', '.fa-times', function (e) {

            var data = table.row($(this).parents('tr')).data();
            editingRow = table.row($(this).parents('tr'));
            editid = data.EmpNo;
            //data.row.data("hello");
            //table.draw();
            //table.row($(this).parents('tr')).data(Supplierdetails).draw();
            //table.row(0).data(Supplierdetails).draw();
            //table.row($(this).parents('tr')).data(Supplierdetails).draw();

            //var keyWord = $('#Keyword').val();
            //$('#searchResults').load(url, { searchText: keyWord });



        });
        /*table.row.add({
            "EmpNo": "Tiger Nixon",
            "BirthDate": "System Architect",
            "FirstName": "$3,120",
            "LastName": "2011/04/25",
            "Gender": "Edinburgh",
            "HireDate": "5421"
        }).draw();*/
    });

    function GetEmployees(empNo = 0, birthDate= "", firstName = "", lastName = "", gender = "", hireDate = "") {

        var url = "/Tables/EmployeeData/?empNo=" + empNo + "&birthDate=" + birthDate + "&firstName=" + firstName + "&lastName=" + lastName + "&gender=" + gender + "&hireDate=" + hireDate;
        $.ajax({
            type: "GET",
            dataType: "json",
            url: url,
            success: function (data) {
                table.clear();
                if (data.length > 0) {
                    table.rows.add(data);
                }
                table.draw();
            },
            error: function (data) {
            }
        });
    };

</script>